header{
    background-color: #163E58;
    padding: 1rem 2rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    font-family: "Karla", sans-serif;
    align-items: center;
}

header h1{
    align-self: center;
    color: #F6B51D
}

header img{
    width: 5rem;
}

.web-name{
    align-self: center;
    color: #F6B51D;
}