header {
    background-color: #163E58;
    padding: 1rem 2rem;
    gap: 2.5rem;
    display: flex;
    flex-direction: row;
    font-family: "Karla", sans-serif;
    align-items: center;
}

header h1 {
    align-self: center;
    color: #F6B51D
}

header img {
    width: 5rem;
}

.web-name {
    align-self: center;
    color: #F6B51D;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-bottom: 17px;
    align-items: center;
}

.form-input {
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 20px;
    align-items: center;
}

.form input {
    width: 30rem;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    text-indent: 5px;
}


.form button {
    grid-column: 1 / -1;
    border-radius: 5px;
    background: #163E58;
    width: 20rem;
    color: white;
    border: none;
    cursor: pointer;
}

.form input,
.form button {
    min-height: 2rem;
}

.meme {
    margin: 0 auto;
    position: relative;
    width: fit-content;
    text-align: center;
    color: rgb(0, 0, 0);
}

.meme img {
    width: 20rem;
    height: auto;
    display: block;
}

.meme .top,
.meme .bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 30rem;
    padding: 2rem;
    font-size: 24px;
    font-weight: 500;
    text-shadow: 1px 1px 9px #000;
}

.meme .top {
    top: 10px;
}

.meme .bottom {
    bottom: 10px;
}

.form-box {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}