/* Reset Csss */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Jua", serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #F2F8ED;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;


}

.sec-container {
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 600px;
    height: 100vh;
    padding: 30px;
    margin: 20px auto;
    border-radius: 15px;
}

#header {
    color: #00424D;
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: -10px;
}

#today {
    color: #FE4A49;
}

.head {
    font-size: 25px;
    color: #00424D;
    display: flex;
    justify-content: space-between;
}

#add-btn {
    color: #00424D;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 0.8rem;
}

#add-btn:hover {
    color: #A5AE9E;
}

.list-task {
    margin: 3rem 1rem;
}

#list li {
    padding: 14px 3.2rem;
    margin-bottom: 2rem;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    box-shadow: -0 0 20px rgba(0, 0, 0, 0.25);
}

ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url("Images/circle.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 15px 15px;
    cursor: pointer;
    padding-left: 40px;
    list-style: none;
    font-size: 21px;
}

.delete-btn {
    margin-right: -2rem;
}


.checked {
    /* Remove the space between li and .checked */
    background-image: url("Images/circle-checked.svg");
    background-size: 20px;
    text-decoration: line-through;
    color: black;
}

.bottom {
    text-align: center;
    color: #00424D;
    margin-top: auto;
    font-size: 18px;
}

#author {
    margin-top: 2rem;
    color: #A5AE9E;
    font-size: 17px;
}

section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/*The modal content*/
.add-task {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 100;
    min-width: 300px;
    max-width: 400px;
    width: 90%;
    height: 60vh;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5rem 20rem;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}


.input-task {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Add the color for placeholder*/
#input::placeholder {
    color: #FE4A49;
}

/* Add style for icon X*/
#close-btn {
    color: #00424D;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-btn:hover {
    color: #A5AE9E;
}

.add-task input,
.add-task,
.add-task button {
    font-family: "Jua", serif;
}

.add-task #input {
    font-size: 25px;
    margin-bottom: 20px;
    padding: 35px;
    height: 4rem;
    width: 30rem;
    text-align: center;
    background-color: rgba(249, 250, 249, 0.4);
    border: 2px solid rgb(149, 150, 149);
    border-radius: 15px;
}

.input-priority h2 {
    white-space: nowrap;
    text-align: center;
}

.input-priority {
    margin-top: 2rem;
    align-items: center;

}

.priority-btn {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.priority-btn button,
#done-btn {
    font-size: 22px;
    color: #FFFFFF;
    padding: 12px 12px;
    width: 8rem;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

/*Add style for the button*/
.priority-btn #high-btn {
    background-color: #FE4A49;
}

.priority-btn #medium-btn {
    background-color: #FED766;
}

.priority-btn #low-btn {
    background-color: #009FB7;
}

/*Add hover for btn*/
#high-btn:hover,
#medium-btn:hover,
#low-btn:hover,
#done-btn:hover {
    background-color: #2E2E2E;
}

#high-btn:focus,
#medium-btn:focus,
#low-btn:focus,
#done-btn:focus {
    background-color: #2E2E2E;
}

/*Add style for "Done" Button*/
#done-btn {
    margin-top: 2rem;
    background-color: #9CEC5B;
}

/* Add the responsive style */
@media screen and (max-width: 768px) {
    .sec-container {
        max-width: 80%;
        min-width: 500px;
    }

    .add-task {
        min-width: auto;
        padding: 7rem;
        height: 55vh;
        width: 95%;
    }

    .add-task #input {
        margin-top: 1.5rem;
        font-size: 20px;
        width: 20rem;
        text-align: center;
        padding: 15px;
    }

    .input-priority h2 {
        font-size: 20px;
        margin-top: -1.5rem;
    }

    .priority-btn {
        padding: 10px 5px;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        gap: 1rem;
    }

    #done-btn {
        padding: 10px 5px;
        margin-top: 1.5em;
        font-size: 21px;
    }


}