body {
    margin: 0;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    /* Add box-sizing to reduce the wide input field*/
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

button {
    background-color: #5f9341;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
}