body {
    background-image: url('Images/blackjack_bg.jpg');
    background-size: cover;
    font-family: "Ultra", serif;
    text-align: center;
}

#header {
    color: goldenrod;
    font-size: 3em;
    text-shadow: 5px 5px black;
    margin-top: 70px;
    margin-bottom: 5rem;
}

h2 {
    color: whitesmoke;
    font-weight: 400;
    font-size: 2em;
}

#el-messages {
    font-style: italic;
}

#player-el {
    color: whitesmoke;
    font-weight: 400;
    font-size: 1.5em;
}

#button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#start {
    margin-top: 2em;
    margin-bottom: 1em;
}

#restart-btn {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#start,
#new-card,
#restart-btn {
    background-color: goldenrod;
    font-family: "Ultra", serif;
    width: 300px;
    padding: 10px 20px;
    font-size: 1.75em;
    color: #016f32;
    border-radius: 15px;
    cursor: pointer;
    border: none;
}

#start:hover,
#new-card:hover,
#restart-btn:hover {
    background-color: #016f32;
    color: goldenrod;
}