.header {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.header img {
  width: 5rem;
  height: 5rem;
}

.header h1 {
  margin: 0;
  font-size: 2rem;
}