body {
  font-family: Arial, Helvetica, sans-serif;
  background: #27292c;
  color: white;
  text-align: center;
}

h1 {
  margin-top: 40px;
}

img {
  display: flex;
  margin-right: auto;
  margin-top: 1rem;
  width: 5rem;
  padding: 10px;
}